:root {
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
}

:focus-visible {
  border: 3px solid white;
  outline: none;
  transition: 0s !important;
}

body {
  font-family: 'Inter var', system-ui, sans-serif;
}

body {
  background: whitesmoke;
  color: black;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-variation-settings: "wght" 400;
}

h1, h2 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  transition: 0.25s;
}

main .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

@media screen and (max-width: 718px) {
  main .options {
    min-width: 520px;
  }
  main .options .option:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 638px) {
  main .options {
    min-width: 440px;
  }
  main .options .option:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 558px) {
  main .options {
    min-width: 360px;
  }
  main .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  main .options {
    min-width: 280px;
  }
  main .options .option:nth-child(2) {
    display: none;
  }
}

main .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

main .options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}

main .options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}

main .options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}

main .options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}

main .options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}

main .options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}

main .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 20px;
  background-size: auto 100%;
}

main .options .option.active:hover {
    background-size: auto 105%;
}

main .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

main .options .option.active .label {
  bottom: 20px;
  left: 20px;
}

main .options .option.active .label .info>div {
  left: 0px;
  opacity: 1;
}

main .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 20px;
}

main .options .option:not(.active) .shadow {
  bottom: -40px;
}

main .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

main .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

main .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

main .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

main .options .option .label .material-icons-round {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

.material-icons-round {
  font-family: 'Material Icons';
  user-select: none;
  font-size: 24px;  /* Preferred icon size */
}

main .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

main .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

main .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

main .options .option .label .info .sub {
  transition-delay: 0.1s;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: whitesmoke;
  }

  h1 {
    font-variation-settings: "wght" 350;
  }

  main .options .option .label .material-icons-round {
    backdrop-filter: blur(4px);
    background-color: #262626a6;
  }
}